.reg{
    font-weight: bolder;
    color: lightslategray ;

}

body {

    margin: 0;
    padding: 0;
    background-color:#657383;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}

#frame
{
    width: 500px;
    height: 500px;
    background-color:#C0C0C0;
    padding-top: 40px;
    padding-left: 40px;

}


